<div class="sw-container">
  <div class="stopwatch">
    <span>{{ hr }} : </span>
    <span>{{ min }} : </span>
    <span>{{ sec }} : </span>
    <span>{{ ms }}</span>
  </div>
  <div class="button-container">
    <button class="btn-play-pause ripple" title="Play" (click)="start()">
      <i *ngIf="!running" class="fa fa-play"></i>
      <i *ngIf="running" class="fa fa-pause"></i>
    </button>
    <button class="ripple" title="Repeat" (click)="reset()">
      <i class="fa fa-repeat"></i>
    </button>
  </div>
</div>
